* {
  font-family: impact, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-size: 72px;
  color: white;
}

h2 {
  font-size: 36px;
  padding-top: 5%;
}

h3 {
  font-size: 24px;
  color: white;
  padding-top: 10px;
}

p, li {
  font-size: 16px;
  line-height: 24px;
  font-family: verdana;
}

a{
  text-decoration: none;
}

li {
  /*padding: 10px;

  border: 1px solid #333;
  border-style: solid none;
  display: block;*/
  margin: 10px 0px;
  /*display: inline-block;*/
}

button {
  border: none;
  font-family: verdana;
  padding: 15px 32px;
  font-size: 24px;
  color: white;
  background-color: #333;
  width: 250px;
}

button:hover {
  background-color: orange;
}

button:focus {
  outline:0;
}

p{
  padding-top: 20px;
}

ul{
  list-style-type: none;
  padding-top: 20px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

header {
  width: auto;
  height: 35vh;
  padding-left: 20%;
  background-color: #333;
  position: relative;
}

section {
  padding-left: 20%;
  padding-right: 20%;
}

.hero {
  /*padding-top: 5%;*/
  /*vertical-align: middle;*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#Projects {
  height: 45vh;
}

#About {
  height: 20vh;
}
